@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
body{
    font-family: Playfair Display;
}
a {
    
    text-decoration: none;
}
 li{
    list-style:  none;
 }

 .back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #fcfaee;
    border: 2px solid #da3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    transition: all .6s;
 }
.back-to-top span i {
    font-size: 15px;
    color: #da3c3c;
}


.button{
    width: 90%;
    height: 20px;
    border-radius: 10px;
    margin: 5px 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}
.button-red {
    background-color: #111B27;
    color: var(--white);
}
.button-red a{    
    color: var(--white);
}
.button-white {
    background-color: var(--white);
    border: 2px solid #111B27;
}
.button-white a{
    color: var(--black);
}
.button-blue {
    background-color: #111B27;
    color: var(--white);
}
.button-blue i{
    margin-right: 18px;
}
.button-blue a{
    color: var(--white);
}
